CONFIG_ARCH_RISCV=y
CONFIG_ARCH_CHIP_RISCV_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_NAME="artinchip_d13x"
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/artinchip/chips/artinchips/d13x"
CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_CHIP_D13X=y
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="demo88-nor"
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/artinchip/boards/d13x/demo88-nor"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_INTERRUPTSTACK=4096
CONFIG_BINFMT_DISABLE=y
CONFIG_BOARD_EARLY_INITIALIZE=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOARD_LOOPSPERMSEC=10000
CONFIG_BUILTIN=y
CONFIG_CONTEST2026_094_ANDY_BOARD_DEMO88_NOR=y
CONFIG_DEV_CONSOLE=y
CONFIG_DEBUG_FULLOPT=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEFAULT_SMALL=y
CONFIG_DRIVER_QSPI_HAL_EN=y
CONFIG_FS_PROCFS=y
CONFIG_FS_PROCFS_EXCLUDE_BLOCKS=y
CONFIG_FS_PROCFS_EXCLUDE_CPUINFO=y
CONFIG_FS_PROCFS_EXCLUDE_TCBINFO=y
CONFIG_FS_PROCFS_EXCLUDE_VERSION=y
CONFIG_FS_PROCFS_REGISTER=y
CONFIG_IDLETHREAD_STACKSIZE=16284
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INIT_STACKSIZE=16384
CONFIG_LIBC_PERROR_STDOUT=y
CONFIG_LIBC_STRERROR=y
CONFIG_LVX_USE_DEMO_CONTEST2026_094_HELLO_APP=y
CONFIG_MTD=y
CONFIG_MTD_BYTE_WRITE=y
CONFIG_MTD_PARTITION=y
CONFIG_MTD_PARTITION_NAMES=y
CONFIG_NFILE_DESCRIPTORS_PER_BLOCK=6
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_CONSOLE=y
CONFIG_NSH_READLINE=y
CONFIG_NSH_STRERROR=y
CONFIG_OTHER_UART_SERIALDRIVER=y
CONFIG_RAM_SIZE=1032192
CONFIG_RAM_START=0x30044000
CONFIG_RAW_BINARY=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL=y
CONFIG_SFUD_USING_QSPI=y
CONFIG_SFUD_USING_SFDP=y
CONFIG_SPECIFIC_DRIVERS=y
CONFIG_SPI=y
CONFIG_SPI_DRIVER=y
CONFIG_STACK_COLORATION=y
CONFIG_STANDARD_SERIAL=y
CONFIG_SYSLOG_DEFAULT=y
CONFIG_SYSLOG_DEVPATH="/dev/ttyS0"
CONFIG_SYSTEM_NSH=y
CONFIG_TASK_NAME_SIZE=16
CONFIG_UART0_SERIAL_CONSOLE=y
CONFIG_USING_MTD=y
CONFIG_USING_SFUD=y
CONFIG_AIC_QSPI0_BUS_WIDTH_4=y
CONFIG_AIC_QSPI0_DEVICE_SPINOR=y
CONFIG_AIC_QSPI_DRV=y
CONFIG_AIC_QSPI_DRV_V12=y
CONFIG_AIC_SPINOR_DRV=y
CONFIG_AIC_SUPPORT_SPI_IN_BIT_MODE=y
CONFIG_AIC_USING_QSPI0=y
CONFIG_AIC_USING_UART0=y
